<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_HoneySpam>
            <version>0.1.0</version>
        </Hackathon_HoneySpam>
    </modules>
    <global>
        <models>
            <hackathon_honeyspam>
                <class>Hackathon_HoneySpam_Model</class>
            </hackathon_honeyspam>
        </models>
        <blocks>
            <hackathon_honeyspam>
                <class>Hackathon_HoneySpam_Block</class>
            </hackathon_honeyspam>
        </blocks>
        <helpers>
            <hackathon_honeyspam>
                <class>Hackathon_HoneySpam_Helper</class>
            </hackathon_honeyspam>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <hackathon_honeyspam>
                        <class>Hackathon_HoneySpam_Model_Observer</class>
                        <method>controllerActionPredispatchCustomerAccountCreatepost</method>
                    </hackathon_honeyspam>
                </observers>
            </controller_action_predispatch_customer_account_createpost>

            <controller_action_predispatch_customer_account_create>
                <observers>
                    <hackathon_honeyspam>
                        <class>Hackathon_HoneySpam_Model_Observer</class>
                        <method>controllerActionPredispatchCustomerAccountCreate</method>
                    </hackathon_honeyspam>
                </observers>
            </controller_action_predispatch_customer_account_create>
        </events>
        <layout>
            <updates>
                <hackathon_honeyspam>
                    <file>honeyspam.xml</file>
                </hackathon_honeyspam>
            </updates>
        </layout>
    </frontend>
    <default>
        <hackathon>
            <honeyspam>
                <enableHoneypotName>1</enableHoneypotName>
                <honeypotName>2good4you</honeypotName>

                <enableHoneypotAccountCreateTime>1</enableHoneypotAccountCreateTime>
                <honeypotAccountCreateTime>5</honeypotAccountCreateTime>

                <honeypotName>url</honeypotName>
            </honeyspam>
        </hackathon>
    </default>
</config>
